$RECYCLE.BIN/
*.user
*.suo
*.userosscache
*.sln.docstates
*.swp
*.tmp
*.bak
*.ncb
*.log
*.vspscc
*.vssscc
*.dbmdl
*.dbproj.schemaview
*.pdb
*.cache
*.mdb
*.opendb
*.VC.db
*.vscode/
*.vs/
bin/
obj/
TestResults/
build/
out/
publish/
node_modules/
wwwroot/dist/
wwwroot/node_modules/
appsettings.*.json
secrets.json
.env
configuracao.local.json
.DS_Store
Thumbs.db
/.idea/
/.vscode/
/.vs/
/.tmp/
/.sass-cache/
/.nuget/
/.tools/
/.resharper*/
/.sonarqube/
/.coverage*
/.ncrunch*
/.localhistory/
/.docker/
docker-compose.override.yml
docker-compose.*.yml
